.carousel-item img{
	margin-top: 40px;
}
.card{
	margin-top: 50px;
	margin-bottom: 50px;

}
body{
	background-color: #FFFFFF;
}
.card-title{
	text-align: center;
}
.badge{
	text-align: center;
}
/*.dropdown-item{
	text-decoration-color: white;
	background-color: #b71c1c;
}*/
.btn{
	align-content: center;
}